*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/gradle/
gradlew\.bat
app/.idea/gradle.xml
app/.idea/misc.xml
app/.idea/modules.xml
app/.idea/vcs.xml
app/.idea/workspace.xml
app/.idea/codeStyles/Project.xml
app/gradle/wrapper/gradle-wrapper.jar
app/gradle/wrapper/gradle-wrapper.properties
app/gradlew
app/local.properties
gradlew
