<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sew">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <!--    android:networkSecurityConfig="@xml/network_security_config"-->
    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity"
        tools:targetApi="n">
        <activity
            android:name=".activities.SettingsActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activities.PoetDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DetailActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeActivity"
            android:configChanges="layoutDirection"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activities.PoetryActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AddCommentActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified" />
        <activity
            android:name=".activities.PoetsActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ShayariActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.YoutubeHandler"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activities.GhazalsActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.NazmActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.SearchActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activities.MoreActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SherCollectionActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RenderContentActivity"
            android:configChanges="layoutDirection"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ShayariImagesActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ShayariImageDetailActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.AboutUsActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FeedbackActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DictionaryActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.FavoriteActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProseShayariActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProseShayariCollectionActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.SherTagOccasionActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ServerErrorActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NotificationActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RekhtaBlogsWebViewActivity"
            android:configChanges="layoutDirection"
            android:screenOrientation="portrait" />
        <receiver android:name=".helpers.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".helpers.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>